{{!-- <!DOCTYPE html> --}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=<device-width>, initial-scale=1.0"> --}}
    <title>Document</title>
</head>
<body>
    <div style="height:60px;width:100%; margin:auto 0;position:fixed;z-index:9999;clear:both;background:#449615;">
        <h1>HI I'M FOOTER</h1>       
        </div>
</body>
</html>